<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/assets/logo.jpg" class="nav-logo ms-4" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-md-3 me-4">
        <li class="nav-item">
          <a class="nav-link active nav-text fw-bold" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-text fw-bold" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-text fw-bold" href="#">Academics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-text fw-bold" href="#">Management</a>
        </li>
        <li class="nav-item mb-sm-2">
          <a class="nav-link active nav-text about-us-btn text-light fw-bold" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active contact-btn text-light fw-bold nav-text" href="" >Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
