<div class="row">
    <div class="col-lg-9 col-sm-12 "  data-aos="zoom-out-left">
        <div class=" p-5">
            <div class="row text-center">

                <h1>
                    Principal's Message

                </h1>
                
            </div>
            <div class="row">
                
                <h3 class="text-center">
                    <br><br>"Welcome to Swarna Jayanthi Maha Vidyalaya, where we are dedicated to fostering
                    academic excellence and holistic development. Our committed faculty and supportive environment
                    ensure
                    every student thrives. Join us in our mission to empower the next generation with knowledge, values,
                    and
                    skills for a successful future."</h3>

            </div>
        </div>

    </div>
   
    <div class="col-lg-3 col-sm-12">
        <div class=" p-5">

            <div>
                <img src="/assets/principal.jpg" class="img-size shadow img-fluid img-thumbnail shadow-lg   bg-white rounded" data-aos="fade-right" alt="Example Image">
            </div>
        </div>
    </div>
</div>